# Azure Credentials
export ARM_SUBSCRIPTION_ID="<Azure subscription ID>"
export ARM_TENANT_ID="<Azure tenant ID>"
export ARM_CLIENT_ID="<Azure client ID>" 
export ARM_CLIENT_SECRET="<Azure client passwor>"

# XCS Credentials
export VOLT_API_CERT="/path/to/api_credential.p12"
export VES_P12_PASSWORD="api_credential.p12_password"
export VOLT_API_URL="https://<tenant_name>.console.ves.volterra.io/api"