azure_resource_group        = "transit-rg"
azure_location              = "East US"
azure_vnet_name             = "transit-vnet"
azure_vnet_address_space    = "10.100.0.0/22"
azure_route_server_subnet   = "10.100.0.0/24"
azure_route_server_pip_name = "routeserverpublicip"
azure_route_server_name     = "routeserver"
azure_bgp_peer_name         = "xcsce"
azure_bgp_peer_asn          = "65503"
azure_bgp_peer_ip           = "10.100.1.4"
xcs_azure_site_name         = "azure-bgp"
xcs_azure_cred_name         = "azure"
xcs_tenant                  = "xcs-tenant"
xcs_ce_inside_subnet        = "10.100.1.0/24"
xcs_ce_outside_subnet       = "10.100.2.0/24"